// BREAKPOINTS 

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// NAV 

$nav-text: #016690;

// CARDS 

$cards-bg: #e0ddb2;
$cards-2-bg: white;
$cards-aside: 1px solid #dad6ab;

// FOOTER 

$footer-bg: #016690;
$footer-text: white;