* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

.body_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.menu_link {
  font-size: 16px;
  color: #016690;
}

.banner {
  width: 100vw;
  height: 20vh;
  background: url(../images/header.jpg) center/cover no-repeat;
  padding-top: 10px;
}

.banner h1 {
  text-align: center;
  vertical-align: top;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 8px;
}

.container .card {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #e0ddb2;
  padding: 12px;
  border: 1px solid #dad6ab;
}

.container .card_img {
  display: block;
  width: 100%;
  height: 30%;
  margin: 0 auto 10px;
}

.articles {
  padding: 10px;
}

.articles .aside,
.articles .article {
  margin: 10px auto;
}

.articles .aside {
  border: 1px solid #dad6ab;
  padding: 5px;
}

footer {
  padding: 15px;
  background-color: #016690;
}

footer .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_menu .footer_link {
  color: white;
  font-size: 16px;
}

@media (min-width: 768px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu_link {
    font-size: 20px;
    margin: 15px;
  }
  .banner {
    height: 30vh;
    padding-top: 20px;
  }
  .container {
    padding: 20px 60px;
  }
  .container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 15px;
  }
  .container .card_img {
    margin: 0 auto;
    height: 100%;
  }
  .container .card .left {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .container .card .right {
    -ms-flex-preferred-size: 68%;
        flex-basis: 68%;
  }
  .articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 15px;
  }
  .articles .aside,
  .articles .article {
    padding: 10px;
  }
  footer .footer_menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_menu .footer_link {
    font-size: 20px;
    margin: 15px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .container .card .left {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .container .card .right {
    -ms-flex-preferred-size: 53%;
        flex-basis: 53%;
  }
}
/*# sourceMappingURL=main.css.map */