// variables

$card-bg-color: #e0ddb2;
$border-color: #dad6ab;
$nav-footer-color: #016690;
$header-color: rgba(4, 22, 10, 0.959);


// Maps

$fonts: (
    "light": 100,
    "medium": 400,
    "bold": 800,
);
