$breakpoint-tablet: 920px;

header {
    .jumbotron {
    background-image: url(/src/images/header.jpg);
    background-size: cover;
    }
   .display-4 {
        font-size: 2em;
        text-align: center;
        font-weight: bold;
    }
}
main {
    .p-2 {
        flex-basis: 48%;

    }
    .card {
        background-color: rgb(217,230,174);

    }
    img {
        height: 200px;
        width: 200px;
        padding: 20px 0px 20px 20px;
    }
    h5 {
        font-weight: bold;
    }

}
@media (max-width: $breakpoint-tablet) {
  main {
      .p-2 {
          flex-basis: 100%;
      }
  }
  
}
.aside {
    .d-flex {
        flex-wrap: nowrap;
    }
    .small {
        border: 1px solid grey;
    }
    h5 {
        font-weight: bold;
    }
    .article {
        font-size: 150%;
    }
}
@media (max-width: $breakpoint-tablet) {

.aside {
    .d-flex {
        flex-wrap: wrap;
    }
}
}
footer {
    li {
        padding: 10px;
    }
    a {
        color: white;
    }
}